.msg {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.msgTop {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}
